Flask==2.2.5
Flask-SQLAlchemy==3.0.2
Flask-Login==0.6.2
Werkzeug==2.2.3
flask-restx==1.0.5
Flask-Migrate==4.0.4
python-dotenv==1.0.0
redis==5.0.1
firebase-admin==6.4.0
gunicorn==21.2.0
eventlet==0.33.3
elasticsearch==8.11.1
pandas==2.1.4
plotly==5.18.0